.search-bar-show{
    display: block;
}
.search-bar-notshow{
    display: none;
}
@media(max-width:991px){
    .search-bar-show{
        display: none;
    }
    .search-bar-notshow{
        display: block;
    }
    
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header1.sticky .nav1{
    width:100%;
    transition: 0.3s all;
}
.nav1{
    width:85%;
}
.m-3-1{
    margin:10px;
}
.p-3-2 {
    padding:10px;
}
.p-3-1{
    padding:20px;
   
}
@media(max-width:500px){
    .nav1{
        width:100%;
    }
}

